:root {
    --primary-color: rgba(0, 147, 121, 1);
    --secondary-color: rgba(1, 109, 90, 1);
    --grey-1-color: rgba(184, 184, 184, 1);
    --grey-2-color: rgba(134, 134, 134, 1);
    --white-color: rgba(255, 255, 255, 1);
}

.scoring-page {
    background-color: #d9d6ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
  
.scoring-page .overlap-group-wrapper {
    background-color: #d9d6ff;
    width: 100vw;
    height: 100vh;
}
  
.scoring-page .overlap-group {
    position: relative;
    height: 940px;
    top: 54px;
}
  
.scoring-page .rectangle-1 {
    position: absolute;
    width: 80vw;
    height: 124px;
    top: 0;
    left: 9.8vw;
    background-color: #a088ff;
    border-radius: 20px;
}
  
.scoring-page .text-wrapper-score {
    position: absolute;
    width: 1000px;
    height: 124px;
    top: -0.5;
    left: 20.5vw;
    font-weight: 400;
    color: hsl(280, 13%, 14%);
    font-size: 90px;
    text-align: center;
    letter-spacing: -2.21px;
}
  
.scoring-page .div {
    position: absolute;
    width: 1198px;
    top: 13.5vh;
    left: 14.1vw;
    font-weight: 400;
    color: hsl(280, 13%, 14%);
    font-size: 50px;
    text-align: center;
    letter-spacing: -1.15px;
    line-height: 75px;
    white-space: nowrap;
}
  
.scoring-page .pixil-frame {
    position: absolute;
    width: 693px;
    height: 699px;
    top: 14vh;
    left: 29.5vw;
    object-fit: cover;
}

.scoring-page .rectangle-2 {
    position: absolute;
    width: 299px;
    height: 93px;
    top: 85vh;
    left: 41vw;
    flex-shrink: 0;
    border-radius: 20px;
    background: #A088FF;
}

.scoring-page .text-wrapper-restart {
    position: absolute;
    color: #262028;
    top: 86vh;
    left: 78vh;
    text-align: center;
    font-family: 'Rhodium Libre';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 75px */
    letter-spacing: -1.15px;
}
