#homebg {
    width: 3504px;
    height: 1522px;
    background: #FBF7FF
}

#jellyjabber {
    color: #05141C;
    text-align: center;
    vertical-align: text-top;
    font-size: 95.99999237060547px;
    font-family: Roboto Mono;
    letter-spacing: -2.299999952316284px;
    line-height: 150px;
    border-style: hidden;
    outline: none;
    width: 1200px;
}

#jelly {
    width: 256.02px; 
    height: 367.94px; 
    left: 1152px; 
    top: 468px; 
    position: absolute
}