{% extends 'base.html' %}

{% block head %}
<title>Start Screen</title>
{% endblock %}

{% block body %}
<p>Hello, world!</p>
<button type="button" id="test">Click Me!</button>
<a href="/record">record</a>
<form method="POST" action="/scoring" id="scorer">
    <input type="hidden" id="generated_text" name="generated_text" value="placeholder!">
    <input type="hidden" id="transcript" name="transcript" value="placeholder!">
    <input type="hidden" id="gamemode" name="gamemode" value="medium">
    <input type="submit">
</form>
{% endblock %}