{% extends "base.html" %}
{% block title %}Speech Recognition in Python{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <!-- Choose level -->
    <div id="chooseLevel">
      <h1>Choose Level</h1>
      <form method="POST" action="/">
        <input type="submit" id="submitButton" value="Easy" name="easy"/>
        <input type="submit" id="submitButton" value="Medium" name="medium"/>
        <input type="submit" id="submitButton" value="Hard" name="hard"/>
      </form>
    </div>
{% endblock %}
