{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="static\css\Recording\recording.css"/>
    <title>Recording Page</title>
{% endblock %}

{% block body %}
    <div class="recording-page">
        <div class="div">
            <div class="text-wrapper">passage</div>
            <img class="image" src="static\css\Recording\pause.png" />
            <div>

                <div>
                    <img class="img" src="static\css\Recording\pause.png" />
                </div>

                <div id="analyse">
                    <img class="analyze" src="static\css\Recording\analyze.png" /> 
                </div>

                <div>
                    <img class="img" src="static\css\Recording\play.png" />
                </div>

            </div>
        </div>
{% endblock %}