<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static\css\Recording\recording.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recording Page</title>
</head>

<body>
    <div class="recording-page">
        <div class="div">
            <div class="text-wrapper">passage</div>
            <img class="image" src="static\css\Recording\pause.png" />
            <div>
                <div>
                    <div>
                     <img class="img" src="static\css\Recording\pause.png" />
                    </div>
                </div>
                <div>
                    <img class="analyze" src="static\css\Recording\analyze.png" /> 
                </div>

               
                <div >
                    <img class="img" src="static\css\Recording\play.png" />
                </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>