<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div class="scoring-page">
        <div class="overlap-group-wrapper">
            <div class="overlap-group">
                <div class="rectangle"></div>
                <div class="text-wrapper">Score: 100%</div>
                <p class="div">You’re out of this world, Jelly Warrior!</p>
                <img class="pixil-frame" src="img/pixil-frame-0-2-1.png" />
                <img class="img" src="img/pixil-frame-0-5-1.png" />
                <img class="pixil-frame-2" src="img/pixil-frame-0-6-1.png" />
            </div>
        </div>
    </div>
</body>

</html>