.recording-page {
    background-color: #d9d6ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.recording-page .div {
    background-color: #d9d6ff;
    width: 1451px;
    height: 1037px;
    position: relative;
}

.recording-page .text-wrapper {
    position: absolute;
    width: 1207px;
    top: 126px;
    left: 122px;
    font-family: "Rhodium Libre-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    text-align: center;
    letter-spacing: -1.47px;
    line-height: 96px;
}

.recording-page .image {
    position: absolute;
    width: 435px;
    height: 383px;
    top: 466px;
    left: 827px;
    object-fit: cover;
}

.recording-page .overlap {
    position: absolute;
    width: 476px;
    height: 467px;
    top: 418px;
    left: 249px;
}

.recording-page .play-button {
    position: absolute;
    width: 476px;
    height: 454px;
    top: 13px;
    left: 0;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
}

.recording-page .overlap-group {
    position: relative;
    width: 204px;
    height: 205px;
    top: 112px;
    left: 136px;
    background-color: #e1eeff;
    border-radius: 102px/102.5px;
}

.recording-page .polygon {
    position: relative;
    width: 126px;
    height: 141px;
    top: 45px;
    left: 39px;
    transform: rotate(90.4deg);
}

.recording-page .img {
    position: absolute;
    width: 106px;
    height: 109px;
    top: -1px;
    left: 9px;
    transform: rotate(-90.4deg);
}

.recording-page .overlap-wrapper {
    position: absolute;
    width: 476px;
    height: 454px;
    top: 0;
    left: 0;
    background-image: url(./img/image-4.png);
    background-size: cover;
    background-position: 50% 50%;
}